$text-color: #404040;
$text-color-light: #a3a3a3;
$star-color: #5ba839;
$primary-deep-green: #22a958;
$white: #fff;
$seperator-color: #e6e6e6;
$card-shadow: rgba(0, 0, 0, 0.1);

$text-small: 11px;
$text-medium: 14px;